<header id="header">
  <div class="header">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-3">
          <div class="schedule-now">
            <div class="schedule-now-time">{{ header.schedule.time }}</div>
            <div class="schedule-now-title">
              <div class="text">{{ header.schedule.title }}</div>
              <div class="icon"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-9">
          <div class="external-ad">
            <a href="#" class="banner">
              <div class="banner-wrapper">
                <img src="{{ header.adImage }}" alt="Publicidade">
              </div>
              <span>Publicidade</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="topbar">
    <div class="container">
      
      <div class="logo">
        <img src="{{ logo }}" alt="{{ title }}">
      </div>
      
      <div class="search">
        <a href="#" class="btn btn-default btn-search">Procurar</a>
      </div>
      
    </div>
  </div>
</header>