<header id="header">
  <div class="header">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-3">
          <div class="schedule-now">
            {% set hour = "now"|date('H') %}
            {% set quarter = ("now"|date('i') / 15)|round(0, 'floor') %}
            <div class="schedule-now-time">{{ hour }}:{{ '%02d'|format(quarter * 15) }}</div>
            <div class="schedule-now-title">
              
              {% set showId = schedule.days["1"][hour][quarter] %}
              <div class="text vertical-align">
                <span>{{ schedule.programs[showId].name }}</span>
              </div>
              <div class="icon">
                <a href="#" class="current-show-link" title="Veja mais">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-9">
          <div class="external-ad">
            <a href="#" class="banner">
              <div class="banner-wrapper">
                <img src="{{ header.adImage }}" alt="Publicidade">
              </div>
              <span>Publicidade</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="topbar">
    <div class="container">
      
      <a href="#" class="logo">
        <img src="{{ logo }}" alt="{{ title }}">
      </a>
      
      <div class="search">
        <a href="#" class="btn btn-default btn-search">Procurar</a>
      </div>
      
    </div>
  </div>
</header>